{# Footer button name #}
{% set footer_button = 'Уникальный тур' %}

{# Footer contacts #}
{% set footer_contacts = [
  ['Подобрать тур', '#'], 
  ['НАПИСАТЬ В МЕССЕНДЖЕР', '#'], 
  ['Бесплатный звонок', '#']
]%}

{# Tour list #}
{% set tour_list = [
	{img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
	{img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
	{img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
	{img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'}
]%}

{# Include header #}
{% include 'includes/header.njk' %}
	
	<!-- Start main -->
	<main class="catalog-page">

		<!-- Start select menu -->
		<div class="select container">
			<!-- Start input -->
			<div class="field field_spacing">
				<!-- Title -->
				<div class="field__wrapper">
					<div class="field__content">Экскурсионный</div>
				</div>

				<!-- Image -->
				<span class="field__icon-wrapper">
					<svg class="field__icon" width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.89473 7.87931L12.8038 3.64442C12.9291 3.55407 13 3.42797 13 3.29433L13 0.471073C13 0.285679 12.8629 0.117224 12.6502 0.0409958C12.4363 -0.0342911 12.1869 -0.00323521 12.0144 0.120988L6.5 4.07261L0.986818 0.120988C0.813091 -0.00323573 0.563727 -0.0352327 0.351001 0.0409953C0.137092 0.117223 9.41679e-07 0.285678 9.33894e-07 0.471072L8.15343e-07 3.29433C8.09732e-07 3.42797 0.072091 3.55407 0.195 3.64442L6.10409 7.87931C6.32864 8.04023 6.67136 8.04023 6.89473 7.87931Z"/></svg>
				</span>
			</div>
			<!-- End input -->
		</div>
		<!-- End select menu -->

		<!-- Start white section with tours -->
		<section class="tour-section accent-background">

			<!-- Tour list -->
			<div class="tour-list container">
				{% for item in tour_list %}
				<!-- Card -->
				<div class="tour-list__item card-mini">

					<!-- Card image -->
					<img src="/img/{{item.img}}" alt="tour" class="card-mini__image">

					<!-- Card title -->
					<h3 class="card-mini__title">{{ item.title }}</h3>
				</div>
				{% endfor %}
			</div>
			
			<!-- Button more -->
			<div class="button-more button-more_blue container">
				<span>Показать еще</span>
				<svg class="button-more__icon" width="13" height="8" viewBox="0 0 13 8" xmlns="http://www.w3.org/2000/svg"><path d="M6.89473 7.87931L12.8038 3.64442C12.9291 3.55407 13 3.42797 13 3.29433L13 0.471073C13 0.285679 12.8629 0.117224 12.6502 0.0409958C12.4363 -0.0342911 12.1869 -0.00323521 12.0144 0.120988L6.5 4.07261L0.986818 0.120988C0.813091 -0.00323573 0.563727 -0.0352327 0.351001 0.0409953C0.137092 0.117223 9.41679e-07 0.285678 9.33894e-07 0.471072L8.15343e-07 3.29433C8.09732e-07 3.42797 0.072091 3.55407 0.195 3.64442L6.10409 7.87931C6.32864 8.04023 6.67136 8.04023 6.89473 7.87931Z" /></svg>
			</div>
		</section>
		<!-- End section with tours -->
	</main>
	<!-- End main -->

{# Include footer #}
{% include 'includes/footer.njk' %}
