{# Swiper style #}
{% set custom_links = [{rel: 'stylesheet', href: 'https://unpkg.com/swiper/css/swiper.min.css'}]%}

{# Swiper script #}
{% set custom_scripts = ['https://unpkg.com/swiper/js/swiper.min.js'] %}

{# Footer contacts #}
{% set footer_contacts = [
  ['Подобрать тур', '#'], 
  ['НАПИСАТЬ В МЕССЕНДЖЕР', '#'], 
  ['Бесплатный звонок', '#']
]%}

{# Footer button #}
{% set footer_button = 'Уникальный тур' %}

{# Slider items #}
{% set slider_items = [
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour1.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'},
  {img:'tour2.jpg', title:'Треккинг вокруг Монблана. Доломитовые Альпы'}
]%}

{# Types #}
{% set types = ['Экскурсионный', 'Замки', 'Велотур', 'Треккинг', 'Острова', 'Италия', 'Статуи', 'История']%}

{# Include header #}
{% include 'includes/header.njk' %}

	<!-- Start main -->
	<main class="home-page">

		<!-- Start search form -->
		<label class="input input_spacing container">

			<!-- Input input -->
			<input required type="text" class="input__field" id="search-form">

			<!-- Input label -->
			<span class="input__label">Поиск</span>

			<!-- Input image -->
			<span class="input__icon-wrapper">
				<img  class="input__icon" src="/img/icon/loupe.svg" alt="loupe">
			</span>
		</label>
    <!-- End search form -->

		<!-- Start white section with tours -->
		<section class="tour-section accent-background">
			<!-- Start slider -->
			<div class="slider container swiper-container">
        <div class="slider__wrapper swiper-wrapper">
          {# Card cycle #}
          {% for item in slider_items %}
            <!-- Card -->
            <div class="slider__card swiper-slide">
              <!-- Card image -->
              <img src="/img/{{item.img}}" alt="tour" class="slider__card-image">

              <!-- Card title -->
              <h3 class="slider__card-title">{{ item.title }}</h3>
            </div>
          {% endfor %}
          {# End cycle #}
        </div>
			</div>
      <!-- End slider -->
			
			<!-- Types of tour -->
			<div class="type-tour container">
        {# Cycle of tours #}
				{% for item in types %}
          <!-- Type -->
          <div class="type-tour__item button button_shadow {% if loop.index == 4 %}active{% endif %}">
            <div class="button__title">{{ item }}</div>
          </div>
          {# End type #}
				{% endfor %}
        {# End cycle #}
			</div>
      <!-- End types -->
		</section>
    <!-- End section with tours -->
	</main>
	<!-- End main -->

{# Include footer #}
{% include 'includes/footer.njk' %}

