<!DOCTYPE html>
<html lang="ru" class="modal-wrapper">
{# Include head #}
{% include 'includes/head.njk' %}
<body class="modal-wrapper__body modal">
  <!-- Hamburger -->
  <div class="hamburger close">
    <div class="hamburger__item"></div>
    <div class="hamburger__item"></div>
    <div class="hamburger__item"></div>
  </div>

  <!-- Header -->
  <h3 class="modal-wrapper__title">
    <span>ВАША ЗАЯВКА В РАБОТЕ</span>
  </h3>

  <!-- Start form -->
  <div class="modal-wrapper__form container">
    <a class="field field_spacing field_indent" href="/">
      <div class="field__wrapper">
        <span class="field__content">На Главную</span>
      </div>
    </a>

    <a class="field field_spacing field_indent" href="/catalog.html">
      <div class="field__wrapper">
        <span class="field__content">В Каталог</span>
      </div>
    </a>
  </div>
  <!-- End form -->

  <!-- Bundle -->
	<script src="bundle.script.js"></script>
</body>
</html>