{# Current version #}
{% set version = range(1, 99999) | random %}

{# Array with links #}
	{%
		set footer_nav = [
			{href:'#', title:'Каталог', svg:'catalog'},
			{href:'#', title:'О нас', svg:'about'},
			{href:'#', title:'Контакты', svg:'contacts'}
		]
	%}
	<!-- Start footer -->
	<footer class="footer container">

		<!-- Start navigation block -->
		<nav class="footer-nav">
			{# Start cycle #}
			{% for item in footer_nav %}
				<!-- Link -->
				<a href="{{item.href}}" class="footer-nav__item">
					<!-- Icon -->
					<object type="image/svg+xml" data="/img/icon/{{item.svg}}.svg" class="footer-nav__image"></object>
					<!-- Title -->
					<span class="footer-nav__title">{{item.title}}</span>
				</a>
			{% endfor %}
			{# End cycle #}
		</nav>
		<!-- End navigation block -->

		<!-- Start contact block -->
		<nav class="footer-contacts">
			{# Start cycle #}
			{% for title, href in footer_contacts %}
				<!-- Link -->
				<a href="{{ href }}" class="button button_upper button_indent">
					<span class="button__title">{{ title }}</span>
				</a>
	    {% endfor %}
			{# End cycle #}
		</nav>
		<!-- End contact block -->

		<!-- Start footer button -->
		<a href="#" class="footer-button">

			{%if arrow_left %}
				<!-- Arrow left -->
				<img class="footer-button__arrow" src="/img/icon/arrow-left.svg" alt="arrow">
			{% endif %}

			<!-- Button title -->
			<span class="footer-button__title">{{ footer_button }}</span>

			{%if not arrow_left %}
				<!-- Arrow right -->
				<img class="footer-button__icon" src="/img/icon/arrow-right.svg" alt="arrow">
			{% endif %}
		</a>
		<!-- End footer button -->
	</footer>
	<!-- End footer -->

	<!-- Google map -->
	{% if map_enable %}
		<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA53mlyAZd2RuMH_W4Al7NkT_GQQbjWEDA&callback=initMap" async defer></script>
	{% endif %}

	{% for src in custom_scripts %}
		{# Custom scripts #}
		<script src="{{ src }}"></script>
	{% endfor %}

	<!-- Swiper -->
	<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

	<!-- Bundle -->
	<script src="bundle.script.js?v={{ version }}"></script>
</body>
</html>
