<% if (!arrow_left) var arrow_left = false; %>
	
	<!-- Start footer -->
	<footer class="footer container">

		<!-- Contacts -->
		<nav class="footer-contacts">
			<% footer_contacts.forEach(function(item) { %>
	  	<a href="<%- item.href %>" class="footer-contacts__button">
	  		<span class="footer-contacts__title"><%- item.title %></span>
	  		<img class="footer-contacts__arrow" src="/img/icon/arrow-right.svg" alt="arrow">
	  	</a>
	    <% }); %>
		</nav>
		
		<!-- Navigation -->
		<nav class="footer-nav">
			<% 
			[
				{href:'#', title:'Каталог', svg:'catalog'},
				{href:'#', title:'О нас', svg:'about'},
				{href:'#', title:'Контакты', svg:'contacts'}
			].forEach(function(item) { %>
			<a href="<%- item.href %>" class="footer-nav__item">
				<object type="image/svg+xml" data="/img/icon/<%- item.svg %>.svg" class="footer-nav__image"></object>
				<span class="footer-nav__title"><%- item.title %></span>
			</a>
			<% }); %>
		</nav>
		
		<!-- Button navigation -->
		<a href="" class="footer-button">
			<%if(arrow_left){%><img class="footer-button__arrow" src="/img/icon/arrow-left.svg" alt="arrow"><%};%>
			<span class="footer-button__title"><%- footer_button %></span>
			<%if(!arrow_left){%><img class="footer-button__icon" src="/img/icon/arrow-right.svg" alt="arrow"><%};%>
		</a>
	</footer>
	<!-- End footer -->
	
	<!-- Scripts -->
	<script src="bundle.script.js<%= date %>"></script>
</body>
</html>
