	{# Array with links #}
	{%
		set footer_nav = [
			{href:'#', title:'Каталог', svg:'catalog'},
			{href:'#', title:'О нас', svg:'about'},
			{href:'#', title:'Контакты', svg:'contacts'}
		]
	%}
	<!-- Start footer -->
	<footer class="footer container">

		<!-- Start contact block -->
		<nav class="footer-contacts">
			{% for title, href in footer_contacts %}
			<!-- Link -->
	  	<a href="{{ href }}" class="footer-contacts__button">
				<!-- Title -->
	  		<span class="footer-contacts__title">{{ title }}</span>
				<!-- Icon -->
	  		<img class="footer-contacts__arrow" src="/img/icon/arrow-right.svg" alt="arrow">
	  	</a>
	    {% endfor %}
		</nav>
		<!-- End contact block -->

		<!-- Start navigation block -->
		<nav class="footer-nav">
			{% for item in footer_nav %}
			<!-- Link -->
			<a href="{{item.href}}" class="footer-nav__item">
				<!-- Icon -->
				<object type="image/svg+xml" data="/img/icon/{{item.svg}}.svg" class="footer-nav__image"></object>
				<!-- Title -->
				<span class="footer-nav__title">{{item.title}}</span>
			</a>
			{% endfor %}
		</nav>
		<!-- End navigation block -->

		<!-- Start footer button -->
		<a href="#" class="footer-button">

			{%if arrow_left %}
			<!-- Arrow left -->
			<img class="footer-button__arrow" src="/img/icon/arrow-left.svg" alt="arrow">
			{% endif %}

			<!-- Button title -->
			<span class="footer-button__title">{{ footer_button }}</span>

			{%if not arrow_left %}
			<!-- Arrow right -->
			<img class="footer-button__icon" src="/img/icon/arrow-right.svg" alt="arrow">
			{% endif %}
		</a>
		<!-- End footer button -->
	</footer>
	<!-- End footer -->

	{% for src in custom_scripts %}
	{# Custom scripts #}
	<script src="{{ src }}"></script>
	{% endfor %}

	<!-- Bundle -->
	<script src="bundle.script.js"></script>
</body>
</html>
