{# Current version #}
{% set version = range(1, 99999) | random %}

<head>
  <title>Guide me</title>
  
	<!-- Meta -->
	<meta name="viewport" content="width=320, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="content-language" content="ru">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=block&subset=cyrillic" rel="stylesheet">

	<!-- Loader -->
	<!-- <script src="scripts/loader.js"></script>
	<link href="assets/styles/pages/loader.css" rel="stylesheet" /> -->

  {# Custom styles#}
  {% for item in custom_links %}
  	<link rel="{{ item.rel }}" href="{{ item.href }}">
  {% endfor %}

	<!-- Main styles -->
	<link rel="preload" href="styles/index.css?v={{version}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="styles/index.css?v={{version}}"></noscript>
</head>