<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Guide me</title>
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet">

	<!-- Loader -->
	<!-- <script src="scripts/loader.js"></script>
	<link href="assets/styles/pages/loader.css" rel="stylesheet" /> -->
	
	<!-- Meta -->
	<meta name="viewport" content="width=320, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="content-language" content="ru">
	
	<!-- Main styles -->
	<link rel="preload" href="styles/index.css<%= date %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="styles/index.css<%= date %>"></noscript>
</head>

<body>

	<!-- Start header -->
  <header class="header-main container">

  	<!-- Title -->
  	<h1 class="main-title">
  		<span class="main-title__text-min">АгенТство</span>
  		<span class="main-title__text">GUIDE ME</span>
  		<span class="main-title__text-min">авторских путешествий</span>
  	</h1>
		
		<!-- Hamburger -->
  	<div class="hamburger" onclick="">
  		<div class="hamburger__item"></div>
  		<div class="hamburger__item"></div>
  		<div class="hamburger__item"></div>
  	</div>

  	<!-- Menu -->
  </header>
  <!-- End header -->
