<!DOCTYPE html>
<html lang="ru">
{# Include head #}
{% include 'includes/head.njk' %}
<body>

	<!-- Start header -->
  <header class="header-main container">

  	<!-- Title -->
  	<h1 class="main-title">
  		<span class="main-title__text-min">АгенТство</span>
  		<span class="main-title__text">GUIDE ME</span>
  		<span class="main-title__text-min">авторских путешествий</span>
  	</h1>
		
		{# Include hamburger #}
  	{% include 'includes/hamburger.njk' %}
  </header>
  <!-- End header -->
